* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
   
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    background-color:  #a306b6;
    text-align: left;
    margin:0 0 30px 0;


}
.navigation li a:hover {
    background-color: white;
    color:#a306b6

}
.navigation li {
    padding:5px;

}



a {
    text-decoration: none;
    color: white;
}
ul li{
    list-style-type:none;
    display:inline;
    }

h1{
        padding:20px;
        background-color: grey;
        text-align: center;
        margin:auto;
        width: 90%;
        border-radius: 5px;
    
}

form{
    align-items: center;
    margin: 50px 50px;
   
}


h2{
    margin: 30px 0;
}

label{
   text-align: left;
   margin:50px 0;
}



footer{
    background-color: gray;
    color:white;
}

textarea{
    width:100%;
    background-color: gray;
    margin: 10px 0;
    border-radius: 5px;
}

input{
    width: 100%;
    background-color: gray;
    margin: 10px 0;
    border-radius: 5px;
}

button{
    background-color: #a306b6;
    color:white;
    border-radius: 5px;
}
